.btn,
body a.btn{
		cursor: pointer;
		background:transparent;
		border: 2px solid $c-button;
		color: $c-button;
		font-size: .9em;
		text-transform: uppercase;
		padding: 8px 30px;
		text-decoration: none;
		display: inline-block;
		transition: all 0.3s ease 0s;

		&:hover,
		&:focus,{
		  background-color: $c-navigation;
		  color: $c-button-hover;
		  outline: none;
		}
}

.btn-wrap{
	position: absolute;
	width: 100%;
	bottom: 55px;
	text-align: center;

	.btn{
		position: relative;
	}
}