%image-content{
  max-width:100%;
  display: block;
  padding:1em;
  margin:2em auto;
  background:#fff;
  border: solid 1px #ccc;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
}

body img.plain{
  box-shadow: none;
  padding:0;
  border: 0;
}