@function first($list) {
  @return nth($list, 1);
}

@function last($list) {
  @return nth($list, length($list));
}

// use with font-size mixin
@function calculateFontSize($n, $base:5, $scale:.75) {
  $sequence: round($base / $scale);
  $output: nth($sequence, length($sequence));
  @if $n > 1{
    @for $i from 2 through $n {
      $new: round(nth($sequence, length($sequence)) / $scale);
      $sequence: append($sequence, $new);
      $output: nth($sequence, length($sequence));
      //$output: last($sequence);
    }
  }
  @return $output;
}

// http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
@function calculateRem($size) {
  $remSize: $size / 16;
  @return $remSize * 1rem;
}

@mixin calculateFontSize($size, $base:5, $scale:.75, $line:1.5) {
  font-size: calculateRem(calculateFontSize($size, $base, $scale));
  font-size: #{calculateFontSize($size, $base, $scale)}px;
  line-height: calculateRem(calculateFontSize($size, $base, $scale) * $line);
  line-height: #{calculateFontSize($size, $base, $scale) * $line}px;
}