@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// http://alwaystwisted.com/post.php?s=2013-04-01-my-media-query-mixin
@mixin mediaQuery($point, $doc-font-size: 5, $query1: min, $query2: width, $IE9: false) {
    @if $IE9 == true{
        .lt-ie9 & {
            @content;
        }
    }
    $fontSize: calculateFontSize($doc-font-size);
    @media (#{$query1}-#{$query2}: $point / calculateFontSize($doc-font-size) +em) {
        @content;
    }
}