%inline-list{
	@include clearfix;
	padding: 0;
	margin: 0;
	list-style-type: none;
	line-height: normal;
	font-size: 14px;
	li{
		display: inline;
		line-height: normal;
		margin-right: 10px;
		a img{
			margin: 0 5px 0 0;
		}
	}	
}

