/* !====================== */
/* !Footer  */
/* !====================== */

footer#primary-footer {

	//@include clearfix;
  @include cf();

	// position: absolute;
	// bottom: 0;
	//width:92%;
	//@include alpha-attribute('background-color', rgba(white, 0.6), white);
  //background: #f4f4f4;
  border-top: 1px solid #ddd;
  box-shadow: 0 0px 3px 0px #acacac;
  background: #fff !important;
	padding:12px 4%;

	.notices
	,.social{
		padding:0;
		margin: 0;

		@media screen and (max-width : 700px){
			float:none !important;
			text-align: center;
		}
	}

  .nav{
    @include mediaQuery(700, $f-default) {
      float: right;
    }
    @include cf();

    text-align: center;
    margin: .7em 0 0em 0;
    li{
      list-style-type: none;
      margin: 0 15px 0 0;
      display:inline-block;
    }
  }

	.notices{
      @include mediaQuery(600, $f-default) {
        float: left;
      }
		font-size: 10px;
		padding-top: 8px;
		vertical-align: middle;
		li{
			display: block;
			a{
				font-size: 10px;
				//color: #0085cf;
			}
		}
	}

	.social{
      @include mediaQuery(600, $f-default) {
        float: right;
      }

		li{
			$icon-height: 40px;
			display:inline-block;
			color: $c-navigation;
			line-height: $icon-height;
			vertical-align: middle;
			margin-left: 15px;
						//padding-left: 10px;

			a{	
				text-transform: uppercase;
				img{
					@include grayscale;
					margin-right: -10px;
					display: block;
					height: $icon-height;
					width:$icon-height;
				}
			}

			&:first-child{
				margin-left:0;
			}
			&:last-child a img{
				margin-right:0;
			}
		}
	}
}