$grey: #B6B6B6;
$hover-label-width: 18%;
$placeholder-bumper: 1.5%;
$label-padding: 20px;
form ~ h2{
  display: none;
}

.select-style {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 98% 50%;

  select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
    @include calculateFontSize($f-default, $f-base, $f-scale, $f-line);

    &:focus {
      outline: none;
    }
  }
}

// Form
form {

  .no-js &{
    display: none;
  }
  color: $grey;
  @include cf;

  //  .errors {
  //    margin-bottom: $f-line/2+em;
  //    dt {
  //      font-weight: bold;
  //      float: left;
  //      margin: 0 10px 0 0;
  //      color: red;
  //    }
  //    dd {
  //      margin-bottom: 5px;
  //    }
  //  }

  aside &{
    margin-bottom: $d-content-top;
  }

  #form-messages.error {
    color: red !important;
  }

  #form-messages.success {
    color: green !important;
  }

  .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;

    // Label
    label {
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      left: 0;
      //height: 100%;
      //display: block;
      background: $c-button;
      border: 2px solid $c-button;
      width: $hover-label-width;
      padding: ($label-padding - 1) 0;
      //font-size: .45em;
      font-size: 10px;
      letter-spacing: 0.075em;
      z-index: 1;
    }

    // Fields
    input[type="text"],
    textarea {
      border: none;
      border: 2px solid $c-button;
      background: #fff;
      width: 100%;
      margin: 0;
      padding: $label-padding 0;
      padding-left: $hover-label-width + $placeholder-bumper;
      color: $c-button;
      font-size: 10px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      &:focus,
      &.focused {
        outline: none;

        &#message {
          padding-bottom: 150px;
        }

      }

      &#message {
        //height: 59px;
        resize: none;
        transition: 333ms all ease-in-out;
      }

    }

    // Field Hover
    &:hover {
      label {
        background-color: $c-navigation;
        color: $c-button-hover;
      }
    }
  }

  // Submit Button
  input[type="submit"] {
    //margin-left: $hover-label-width;
    float: right;
  }

}