<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% if meta.title is defined %}{{ meta.title|default(global.site_title)|e }}{% endif %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css <!-- @echo BASE_URL -->/vendor/vendor.min.css -->
    <!-- endbuild -->

    <!-- build:css <!-- @echo BASE_URL -->/styles/{{ (stylesheet is defined) ? stylesheet : 'default'  }}.min.css -->
    <link rel="stylesheet" href="/styles/{{ (stylesheet is defined) ? stylesheet : 'default'  }}.css">
    <!-- endbuild -->

    <!-- build:js <!-- @echo BASE_URL -->/vendor/modernizr.min.js -->
    <script src="/vendor/modernizr.js"></script>
    <!-- endbuild -->

    {% block headEnd %}
        <link href="//fonts.googleapis.com/css?family=Work+Sans:400normal" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Work+Sans:500normal" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400normal" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Roboto+Slab:300normal" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Six+Caps:400normal" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=BenchNine:400normal" rel="stylesheet">
    {% endblock %}
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container">
    {#
    <header class="header">
        <ul class="">
        {% for key, value in global.nav_primary %}
            <li><a href="<!-- @echo BASEURL -->{{ value }}">{{ key }}</a></li>
        {% endfor %}
        </ul>
    </header>
    #}

    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        {% block footer %}
            <footer class="site-footer">
                <ul class="footer-nav">
                    <li class="footer-li"><a
                                class="footer-a">link</a></li>
                    <li class="footer-li"><a
                                class="footer-a">link</a></li>
                    <li class="footer-li"><a
                                class="footer-a">link</a></li>
                    <li class="footer-li"><a
                                class="footer-a">link</a></li>
                    <li class="footer-li"><a
                                class="footer-a">link</a></li>
                </ul>
            </footer>
        {% endblock %}
    </footer>
</div>

<!-- build:js <!-- @echo BASE_URL -->/vendor/vendor.min.js -->
<!-- endbuild -->

<!-- build:js <!-- @echo BASE_URL -->/scripts/theme.min.js -->
<script src="/scripts/theme.js"></script>
<!-- endbuild -->

{% block bodyEnd %}{% endblock %}
<!-- published: {{ "now"|date("d/m/Y - H:i") }} -->
</body>
</html>
