{% extends 'partials/base.twig' %}

{% set stylesheet = 'home' %}

{% block content %}
    {% block jumbotron %}
        {% if meta.jumbotron %}
            {% include 'partials/jumbotron.twig' %}
        {% endif %}
    {% endblock %}

    <div class="content">
{#    {{ content|raw }}#}
    {{ includes.readme.content|raw }}
    </div>

{% endblock %}

{% block footer %}{% endblock %}
