{% extends 'partials/base.twig' %}

{% block content %}
    {% block jumbotron %}
        {% if jumbotron is not null and jumbotron is not empty %}
            {% include jumbotron %}
        {% endif %}
    {% endblock %}

    <div class="content">
    {{ imports.content }}
    </div>

{% endblock %}