{% extends 'partials/base.twig' %}v

{% block content %}
    {{ includes.headings.content|raw }}
    {{ includes.images.content|raw }}
    {{ content|raw }}
{% endblock %}

{% block footer %}{% endblock %}