/* !====================== */
/* !Layout  */
/* !====================== */

$layout-gutter: 4%;
$layout-content-top: 40px;
$layout-content-width: 960px;

/* !====================== */
/* !Breakpoint  */
/* !====================== */

$breakpoint-mobile: 320;
$breakpoint-tablet: 760;
$breakpoint-desktop: 1200;

/* !====================== */
/* !Palette  */
/* !====================== */

$palette-blue-logo: #57A7D5;
$palette-body: #333;
$palette-navigation: #000;
$palette-hover: #0085CB;
$palette-headings: $palette-navigation;
$palette-button: $palette-navigation;
$palette-button-hover: #fff;
$palette-secondary-content: #555;

/* !====================== */
/* !Typography  */
/* !====================== */

$vr-font-size    : 14px;
$vr-line-height  : 1.5;
$vr-modular-scale: minor-third;
$vr-grid-color   : rgb(233, 30, 99);

$vr-breakpoints: (
    60em: ( // 960px
            font-size    : 16px,
            grid-color   : blue
    ),
    80em: ( // 1280px
            font-size    : 18px,
            line-height  : 1.8,
            modular-scale: major-third,
            grid-color   : purple
    )
);

$font-sans: 'Open Sans', sans-serif;
$font-serif: Georgia, serif;
