{% extends 'page-a.html.twig' %}

{% block content %}
    {{ parent() }}

    {% if imports.list is not null and imports.list is not empty %}
    <ul>
    {% for item in imports.list.items %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {%
    include "modules::/module1/module1.html.twig"
    with {
    'class': 'module--modifier'
    }
    %}

    {%
    include "modules::/module2/module2.html.twig"
    with {
    'class': 'module--modifier'
    }
    %}
{% endblock %}